@model Students



<h2>Add New Student</h2>

<form asp-action="Create" method="post">

    @if (ViewBag.IdMessage!=null)
    {
         <span class="text-danger">@ViewBag.IdMessage</span>
    }

    @if (ViewBag.Success == true)
    {
        <div class="col-4 alert alert-success alert-dismissible container text-center" role="alert">
            <button class="btn-close"
                data-bs-dismiss="alert"
                aria-label="close">
        </button><h6>Student data has been added successfully!</h6>
        <hr />
        <p>Click <a asp-action="Index">here</a> to see all students data</p>
       </div>

    }


    <div class="form-group">
        <label asp-for="Roll" class="control-label"></label>
        <input asp-for="Roll" class="form-control" />
        <span asp-validation-for="Roll" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="PhoneNo" class="control-label"></label>
        <input asp-for="PhoneNo" class="form-control" />
        <span asp-validation-for="PhoneNo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="SeriesId" class="control-label"></label>
        <select asp-for="SeriesId" asp-items="ViewBag.Series"
                class="form-select" required>
        <option value="">Select a Series</option>
            </select>
        @if (ViewBag.Message!=null)
        {
            <span class="text-danger">@ViewBag.Message</span>

        }

    </div>

    <div class="form-group mt-2">
        <button type="submit" class="btn btn-success">Submit</button>
        <a asp-action="Index" class="btn btn-secondary">Back to list</a>

    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
