@model IEnumerable<Semesters>

<style>
    .back-color {
        background-color: #A0DAA9;
    }



        .back-color:hover {
            background-color: #D9CE52;
        }
</style>

<br />



<div class="row">
    <div class="col-12">
        <h2 class="text-center text-dark"> All Semesters </h2>
    </div>
    <hr />
</div>





<div class="mt-5">
    
    <div class="row">

   
        @foreach (var item in Model)
        {
            <div class="col-lg-3">
                <div class="card back-color text-dark text-center mt-5">
                    <div class="card-body">
                        <h3>@item.Name</h3>

                        <a asp-controller="Course" asp-action="AllCourses"
                           asp-route-semesterName="@item.Name" asp-route-semesterId="@item.Id" target="_blank" class="text-dark card-link stretched-link">All courses</a>


                    </div>


                </div>

            </div>
        }

    </div>
</div>