@model IEnumerable<Series>

<br />


<div class="row">
    <div class="col-12">
        <h2 class="text-center text-primary"> All Series </h2>
    </div>
    <hr />
</div>

<div class="col-6 text-right">
    <a asp-action="Create" class="btn btn-info"><i class="fa-solid fa-plus"></i>&nbsp; New Series</a>
</div>






<style>
    



        .back-color:hover {
            background-color: #D9CE52;
        }
</style>


<div class="mt-5">
    
    <div class="row">

   
        @foreach (var item in Model)
        {
            <div class="col-lg-3">
                <div class="card back-color text-dark text-center mt-5">
                    <div class="card-body">
                        <h4>@item.SeriesName</h4>

                        <a target="_blank" class="card-link text-dark stretched-link" asp-controller="Student" asp-action="AllStudents"
                           asp-route-seriesName="@item.SeriesName" asp-route-seriesId="@item.Id">All students</a>


                    </div>



                </div>

            </div>
        }

    </div>
</div>